# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.pssess
*.vsp
*.vspx

# log files
*.log
*.tlog

# image files
*.ico
*.bmp


*.res
*.lastbuildstate
*.obj
*.pch
*.unsuccessfulbuild
*.pdb
*.idb
*.exe
*.ilk

/DLL/x64/Debug
/ZHI-MFC/x64/Debug
/.vs/ZHI-MFC/v17
/.vs/ZHI-MFC/FileContentIndex
